# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#secret files
credentials.json
Secrect.txt
client_secret_311947307992-g8pdmm1lhg76fdgvb23tp27b2iikqk0a.apps.googleusercontent.com.json
.env
Logistics---1AR.docx
Template flow.xlsx
CLAUDE.md
~$gistics---1AR.docx
PAYMENTS.md
